@import url('react-toastify/dist/ReactToastify.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 box-border bg-background;
}

html {
  @apply font-text;
}

a,
button,
ul,
ol, img {
  @apply select-none;
}

button {
  @apply cursor-pointer;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-header;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.border-success::after {
  background: linear-gradient(102.89deg, #DBAC2C 2.61%, #8047F8 98.76%);
}